.information__intro {
  > * {
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
  }

  @include media($palm) {
    @include span-columns(3 of 3);
  }

  @include media($tablet) {
    @include span-columns(8 of 8);
  }

  @include media($portable) {
    @include shift(0);
    @include span-columns(8 of 12);
  }

  @include media($desktop) {
    @include shift(0);
    @include span-columns(8 of 12);
  }
}

.information__lists {
  @include span-columns(12 of 12);
}

.information__lists__item {
  @include pad(70px 0);

  > h2 { margin-top: 0; }

  @include media($palm) {
    @include span-columns(3 of 3);
    @include pad(50px 0);
    border-bottom: 1px solid tint($off-black, 5%);

    &:last-child {
      border-bottom: 0;
    }

    > * { text-align: center; }
  }

  @include media($tablet) {
    @include span-columns(3 of 3);
    @include pad(50px 0);
    border-bottom: 1px solid tint($off-black, 5%);

    &:last-child {
      border-bottom: 0;
    }

    > * { text-align: center; }
  }

  @include media($portable) {
    @include span-columns(4 of 12);
  }

  @include media($desktop) {
    @include span-columns(4 of 12);
  }
}

.information-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.information-list__item {
  @include pad(26px 0 30px);
  position: relative;

  @include media($tablet) {
    @include omega(2n);
    @include span-columns(2 of 4);
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:after {
    @include position(absolute, null null 0px 0px);
    content: "";
    display: block;
    height: 1px;
    width: 30px;
    background: tint($off-black, 15%);

    @include media($palm) {
      @include position(absolute, null null 0px 50%);
      @include transform(translateX(-50%));
    }

    @include media($tablet) {
      @include position(absolute, null null 0px 50%);
      @include transform(translateX(-50%));
    }
  }

  @include media($tablet) {
    &:nth-last-child(2) {
      padding-bottom: 0;
    }

    &:nth-last-child(2):after {
      display: none;
    }
  }

  &:last-child:after {
    display: none;
  }
}

.information-list__title {
  color: tint($off-black, 50%);
  margin: 0;

  > span {
    color: #FFF;
  }
}

.information-list__sub {
  margin: 0 0 15px 0;

  > a {
    @include transition(color 1s ease-in-out);
    color: $orange;
    font-size: em(22, 20);

    &:hover {
      @include transition(color 0s ease-in-out);
      color: #FFF;
    }
  }
}

.information-list__body {
  color: tint($off-black, 50%);
  margin: 0;
}

.info-short {
  width: 65%;

  @include media($tablet) {
    width: 70%;
  }

  @include media($palm) {
    width: 100%;
  }
}
