<template name="hackingAnts">
  <div class="block--image hacking-ants block--border">
    <div class="block__desc hacking-ants__desc">
      <h2 class="h2">
        A queen ant, a hacker and a sci-ﬁ writer walk into a bar.
      </h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, placeat fugiat illum modi labore vitae animi officiis sed possimus obcaecati deserunt dolor cupiditate incidunt praesentium error? Officia quidem culpa quos.
      </p>

      <a href="http://hackingants.tombates.co" class="btn btn--red">View project</a>
    </div>
    <canvas id="van-gogh"></canvas>
  </div>
</template>
