<template name="index">
  {{> indexHero }}

  <div class="wrap">
    <!-- Intro -->
    <div class="block block--margin-top">
      <div class="container">
        <div class="block__text">
          <h1 class="u-text-light">I'm a London based designer/developer. I make things at <a href="http://ustwo.com">ustwo</a>. I try not to ramble on <a href="http://twitter.com/yoamomonstruos">twitter</a>. I share my code on <a href="http://github.com/yoamomonstruos">github</a>. Sometimes I pretend to know what I'm doing on <a href="http://instagram.com/yoamomonstruos">instagram</a>. I've also been known to <a href="http://dribbble.com/yoamomonstruos">dribbble</a>.</h1>

          <h2 class="u-text-light">You should say <a href="mailto:hey@tombates.co">hey</a>.</h2>
        </div>
      </div>
    </div>
    <!-- /Intro -->

    <!-- Hacking Ants -->
    {{> hackingAnts}}
    <!-- /Hacking Ants -->

    <!-- Fog -->
    <div class="block--image" style="background-image: url('/index/memex.png');  background-repeat: repeat; background-size: 465px 279px; background-position: center;">
      <div class="container">
        <div class="block__desc">
          <h2 class="h2">
            Memex
          </h2>

          <p>
            Memex is a concept. It's an idea loosely based upon Vannevar Bush's description of his hypothetical proto-hypertext system from 1945. It's a project that I was thinking about for a long time and had to explore before I could move on to anything else.
          </p>

          <a href="{{ pathFor 'memex' }}" class="btn btn--purple">Read case study</a>
        </div>
      </div>
    </div>
    <!-- /Fog -->

    <!-- Fog -->
    <div class="block--image" style="background-image: url('/index/my-hands-ill.svg');">
      <div class="container">
        <div class="block__desc">
          <h2 class="h2">
            My Hand's Ill
          </h2>

          <p>
            A collection of hand drawn lettering collected from the last few years of illustrations. Available to download as an illustrator file, as long as you excuse the crazy amount of vector points.
          </p>

          <a href="http://cl.ly/UN1B" class="btn">Download Collection</a>
        </div>
      </div>
    </div>
    <!-- /Fog -->

    <!-- Moo -->
    <div class="block--image"
         style="background-image: url('/index/moo.png'); background-repeat: repeat; background-size: 31px 41px;">
      <div class="container">
        <div class="block__desc">
          <h2 class="h2">
            The Luxe Project
          </h2>

          <p>
            Moo.com asked me to design a simple responsive microsite to showcase their new product and an initiative to help raise money for various charities.
          </p>

          <a href="http://hackingants.tombates.co" class="btn btn--moo-blue">Read case study</a>
        </div>
      </div>
    </div>
    <!-- /Moo -->

    <!-- Bear -->
    <div class="block--image" style="background-image: url('/index/bear-sans.jpg');">
      <div class="container">
        <div class="block__desc">
          <h2 class="h2">
            Bear Sans
          </h2>

          <p>
            Bear Sans is an experiment into designing a modular monospace typeface. You can grab all three of it's uppercase weights in Illustrator format for free.
          </p>

          <a href="http://cl.ly/UN8I" class="btn btn--green">Download Bear Sans</a>
        </div>
      </div>
    </div>
    <!-- /Bear -->
  </div>
</template>
