<template name="index">
  {{> indexHero }}

  <div class="wrap">
    <!-- Intro -->
    <div class="block block--margin-top">
      <div class="container">
        <div class="block__text">
          <h1 class="u-text-light">I'm a London based designer/developer. I make things at <a href="http://ustwo.com">ustwo</a>. I try not to ramble on <a href="http://twitter.com/yoamomonstruos">twitter</a>. I share my code on <a href="http://github.com/yoamomonstruos">github</a>. Sometimes I pretend to know what I'm doing on <a href="http://instagram.com/yoamomonstruos">instagram</a>. I've also been known to <a href="http://dribbble.com/yoamomonstruos">dribbble</a>.</h1>

          <h2 class="u-text-light">I'm available for <a href="mailto:hey@tombates.co?subject=Say hey">freelance projects</a>.</h2>
        </div>
      </div>
    </div>
    <!-- /Intro -->

    <!-- Hacking Ants -->
    {{> hackingAnts}}
    <!-- /Hacking Ants -->

    <!-- Fog -->
    <div class="block--image" style="background-image: url('/index/my-hands-ill.svg');">
      <div class="container">
        <div class="block__desc">
          <h2 class="h2">
            My Hand's Ill
          </h2>

          <p>
            A collection of hand drawn lettering from a bunch of old illustrations. All &ldquo;neatly&rdquo; packaged up for you to download and do what you like with.
          </p>

          <a href="http://cl.ly/UN1B" class="btn">Download Collection</a>
        </div>
      </div>
    </div>
    <!-- /Fog -->

    <!-- Moo -->
    <div class="block--image"
         style="background-image: url('/index/moo.png'); background-repeat: repeat; background-size: 31px 41px;">
      <div class="container">
        <div class="block__desc">
          <h2 class="h2">
            The Luxe Project
          </h2>

          <p>
            Moo.com asked me to design a simple microsite to showcase their new product and promote an initiative to help raise money for various charities.
          </p>

          <a href="http://moo.com/luxe-project" target="_blank" class="btn btn--moo-blue">View project</a>
        </div>
      </div>
    </div>
    <!-- /Moo -->

    <!-- Bear -->
    <div class="block--image" style="background-image: url('/index/bear-sans.jpg');">
      <div class="container">
        <div class="block__desc">
          <h2 class="h2">
            Bear Sans
          </h2>

          <p>
            Bear Sans is an experiment into designing a modular monospace typeface. You can grab all three of it's uppercase styles in Illustrator format for free.
          </p>

          <a href="http://cl.ly/UN8I" class="btn btn--green">Download Bear Sans</a>
        </div>
      </div>
    </div>
    <!-- /Bear -->
  </div>
</template>
