<template name="index">
  <!-- Hero -->
  <div class="hero" style="background-image: url('/icons.svg')">
    <div class="hero__down"></div>
  </div>
  <!-- /Hero -->

  <div class="wrap">
    <!-- Intro -->
    <div class="block">
      <div class="container">
        <div class="block__text">
          <h1>I'm a London based designer/developer. I make things at <a href="#">ustwo</a>. I try not to ramble on <a href="#">twitter</a>. I share my code on <a href="#">github</a>. Sometimes I pretend to know what I'm doing on <a href="#">instagram</a>. I've also been known to <a href="#">dribbble</a>.</h1>

          <h1>You should say <a href="#">hey</a>.</h1>
        </div>
      </div>
    </div>
    <!-- /Intro -->

    <!-- Hacking Ants -->
    {{> hackingAnts}}
    <!-- /Hacking Ants -->

    <!-- Fog -->
    <div class="block--image" style="background-image: url('/icons.svg');">
      <div class="block__desc">
        <h2 class="h2">
          My Hand's Ill
        </h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, placeat fugiat illum modi labore vitae animi officiis sed possimus obcaecati deserunt dolor cupiditate incidunt praesentium error? Officia quidem culpa quos.
        </p>

        <a href="http://hackingants.tombates.co" class="btn">View project</a>
      </div>
    </div>
    <!-- /Fog -->

    <!-- Bear -->
    <div class="block--image" style="background-image: url('/testing.jpg');">
      <div class="block__desc">
        <h2 class="h2">
          Bear Sans
        </h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, placeat fugiat illum modi labore vitae animi officiis sed possimus obcaecati deserunt dolor cupiditate incidunt praesentium error? Officia quidem culpa quos.
        </p>

        <a href="http://hackingants.tombates.co" class="btn btn--green">View project</a>
      </div>
    </div>
    <!-- /Bear -->

    <!-- Fog -->
    <div class="block--image" style="background-image: url('/fog.jpg');">
      <div class="block__desc">
        <h2 class="h2">
          Fog's Life of Grime
        </h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, placeat fugiat illum modi labore vitae animi officiis sed possimus obcaecati deserunt dolor cupiditate incidunt praesentium error? Officia quidem culpa quos.
        </p>

        <a href="http://hackingants.tombates.co" class="btn btn--black">View project</a>
      </div>
    </div>
    <!-- /Fog -->

    <!-- Intro -->
    <div class="block">
      <div class="container">
        <div class="block__text">
          <h1>I'm a London based designer/developer. I make things at <a href="#">ustwo</a>. I try not to ramble on <a href="#">twitter</a>. I share my code on <a href="#">github</a>. Sometimes I pretend to know what I'm doing on <a href="#">instagram</a>. I've also been known to <a href="#">dribbble</a>.</h1>

          <h1>You should say <a href="#">hey</a>.</h1>
        </div>
      </div>
    </div>
    <!-- /Intro -->
  </div>
</template>
