/* ==================================== */
@include font-face(Nitti, '/webfonts/nitti-basic-px-light', 300);
/* ==================================== */


body {
  color: tint($off-black, 10%);
  font-family: $maison-book;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
}

h1, .u-h1 {
  margin: 30px 0;
  font-family: $maison-book;
  font-size: em(24, 16);
  font-weight: 300;
  line-height: 36px;
}

h2, .u-h2 {
  margin: 20px 0;
  font-family: $maison-medium;
  font-size: em(22, 16);
  font-weight: 500;
  line-height: 34px;
}

h3, .u-h3 {
  margin: 20px 0;
  font-family: $maison-book;
  font-size: em(20, 16);
  font-weight: 300;
  line-height: 30px;
}

h4, .u-h4 {
  font-family: $maison-book;
  font-size: em(16, 16);
  line-height: 27px;
  font-weight: 300;
}

h5, .u-h5 {}

h6, .u-h6 {
  font-family: $maison-book;
  font-size: em(14, 16);
  line-height: 18px;
  font-weight: 300;
  color: tint($off-black, 60%);

  a {
    font-family: $maison-medium;
  }
}



p, .u-text {
  margin: 20px 0;
  font-size: em(16, 16);
  line-height: 30px;

  > a {
    @include transition(color 1s ease-in-out);
    color: $orange;
    text-decoration: underline;

    &:hover {
      @include transition(color 0s ease-in-out);
      color: tint($off-black, 75%);
    }
  }
}

.u-text-large {
  margin: 20px 0;
  line-height: 32px;
}

.u-text-small {
  font-size: em(14, 16);
  line-height: 26px;
}

.u-text-light {
  font-family: $maison-book;
  font-weight: 300;
}

.u-text-medium {
  font-family: $maison-medium;
  font-weight: 500;
}

.u-text-centered { text-align: center; }

.u-text-border {
  border-bottom: 2px solid #FFF;
}

@each $colour in $colours {
  $name: nth($colour, 1);
  $hex:  nth($colour, 2);

  .u-text-border--#{$name} {
    padding-bottom: 2px;
    border-bottom: 1px solid tint($hex, 15%);
  }

  .u-text--#{$name} {
    color: $hex;
  }

}

.u-text--grey {
  color: tint($off-black, 40%);
}

blockquote, .u-quote {
  margin: 40px 0;

  p {
    padding-left: 30px;
    color: tint($off-black, 35%);
    border-left: 3px solid $orange;
  }

  h6 {
    margin-left: 30px;
    // text-align: right;
  }
}

code, .u-code {}

pre, .u-code-block {
  code {}
}

ul, .u-unordered-list {
  li {}
}

ol, .u-ordered-list {
  li {}
}

a {
  @include transition(color 1s ease-in-out);
  color: $orange;
  text-decoration: none;

  &:hover {
    @include transition(color 0s ease-in-out);
    color: tint($off-black, 75%);
  }
}
