
<template name="Information">
  <!-- Hero -->
  <div class="hero" style="background-image: url('/information/hero.jpg')"></div>
  <!-- /Hero -->

  <div class="wrap">
    <!-- Intro -->
    <div class="block block--margin-top">
      <div class="container">
        <div class="information__intro">
          <h1>I'm a designer/developer based in London, UK. So less of sun, sea and sand you see above and more of the rain, bricks and concrete you see in London. It's lovely though, honest <span class="u-text--orange">&ndash; swear down fam.</span></h1>

          <p>I'm a recent graduate from Central St Martins where I studied graphic design. Currently I work as a product designer at <a href="http://palantir.com">Palantir</a>. For me, what I do is not just about making a project look visually attractive, but shaping exactly how and why it functions in the way it does. It's lead me to naturally develop an extremely iterative process that usually involves a lot of rapid prototyping <span class="u-text--grey">&ndash; I find the majority of what I learn about a problem and it's solution comes from building quick prototypes #bigfan</span>.</p>

          <p>I love learning about new things. I decided it was time to be proactive about it and &ndash; you know &ndash; learn some stuff. So, I'm learning Portuguese very slowly, going to more talks about design/tech and trying to pick up some new skills along the way <span class="u-text--grey">&ndash; maybe even make my own typeface.</span></p>

          <p>I'm always up for a side project, collaboration or the odd freelance project. So if you got an idea you think we could team up on <span class="u-text--grey">&ndash; or just feel like a little chat &ndash;</span> give me a <a href="mailto:hey@tombates.co">shout</a>.</p>

          <p class="u-text-small u-text--grey info-short">P.S. Writing these things sucks. Oooo, almost forgot. The photo was taken in Rio earlier this year. <span class="u-text--orange">&ndash; noice™.</span></p>
        </div>
      </div>
    </div>
    <!-- /Intro -->

    <!-- Lists -->
    <div class="block block--paddless block--off-black">
      <div class="container">
        <div class="information__lists">

          <!-- Education -->
          <div class="information__lists__item">
            <h2>
              <span class="u-text-border--off-black">Education</span>
            </h2>

            <ul class="information-list">
              <li class="information-list__item">
                <h4 class="information-list__title"><span>BA Graphic Design</span> at</h4>
                <h2 class="u-text-light information-list__sub">
                  <a href="http://www.arts.ac.uk/csm/">Central St Martins</a>
                </h2>

                <p class="information-list__body u-text-small">September 2010 &ndash; June 2013</p>
              </li>

              <li class="information-list__item">
                <h4 class="information-list__title"><span>FD Art &amp; Design</span> at</h4>
                <h2 class="u-text-light information-list__sub">
                  <a href="http://www.arts.ac.uk/camberwell/">Camberwell</a>
                </h2>
                <p class="information-list__body u-text-small">September 2008 &ndash; June 2009</p>
              </li>
            </ul>
          </div>
          <!-- /Education -->

          <!-- Experience -->
          <div class="information__lists__item">
            <h2>
              <span class="u-text-border--off-black">Experience</span>
            </h2>

            <ul class="information-list">
              <li class="information-list__item">
                <h4 class="information-list__title"><span>Product Designer</span> at</h4>
                <h2 class="u-text-light information-list__sub">
                  <a href="http://palantir.com">Palantir</a>
                </h2>
                <p class="information-list__body u-text-small">July 2014 &ndash; present</p>
              </li>

              <li class="information-list__item">
                <h4 class="information-list__title"><span>Hybrid Designer</span> at</h4>
                <h2 class="u-text-light information-list__sub">
                  <a href="http://ustwo.com">Ustwo</a>
                </h2>
                <p class="information-list__body u-text-small">September 2013 &ndash; July 2014</p>
              </li>

              <li class="information-list__item">
                <h4 class="information-list__title"><span>Hybrid Designer</span> at</h4>
                <h2 class="u-text-light information-list__sub">
                  <a href="http://gocardless.com">GoCardless</a>
                </h2>
                <p class="information-list__body u-text-small">November 2012 &ndash; July 2013</p>
              </li>

              <li class="information-list__item">
                <h4 class="information-list__title"><span>Designer</span> at</h4>
                <h2 class="u-text-light information-list__sub">
                  <a href="http://neverbland.com">Neverbland</a>
                </h2>
                <p class="information-list__body u-text-small">July 2011 &ndash; September 2011</p>
              </li>
            </ul>
          </div>

          <div class="information__lists__item">
            <h2>
              <span class="u-text-border--off-black">I'm learning</span>
            </h2>

            <ul class="information-list">
              <li class="information-list__item">
                <h4 class="information-list__title"><span>to work</span> with</h4>
                <h2 class="u-text-light information-list__sub">
                  <a>Data Visualisation</a>
                </h2>

                <p class="information-list__body u-text-small">Because it's amazing. End of.</p>
              </li>

              <li class="information-list__item">
                <h4 class="information-list__title"><span>to make </span> a</h4>
                <h2 class="u-text-light information-list__sub">
                  <a>Typeface</a>
                </h2>

                <p class="information-list__body u-text-small">I'm obsessed by type</p>
              </li>

              <li class="information-list__item">
                <h4 class="information-list__title"><span>to be better </span> at</h4>
                <h2 class="u-text-light information-list__sub">
                  <a>Development</a>
                </h2>

                <p class="information-list__body u-text-small">With Ruby, Meteor and Node</p>
              </li>

              <li class="information-list__item">
                <h4 class="information-list__title"><span>to speak</span> in</h4>
                <h2 class="u-text-light information-list__sub">
                  <a>Portuguese</a>
                </h2>

                <p class="information-list__body u-text-small">Mas eu gosto do biscoito</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /Lists -->
  </div>
</template>

