@import "packages/neat-scss/neat-helpers";
@import "packages/bourbon-scss/bourbon";

/* ==================================== */
$palm:                     new-breakpoint(max-width 540px 3);
$tablet:                   new-breakpoint(min-width 541px max-width 768px 8);
$portable:                 new-breakpoint(min-width 769px max-width 1120px 12);
$desktop:                  new-breakpoint(min-width 1121px 12);

$grid-columns:             12;
$visual-grid:              true;
$visual-grid-color:        rgba(0, 0, 0, 0.3);
$max-width:                1200px;
$gutter:                   3em;
/* ==================================== */

/* ==================================== */
$off-black:                rgba(23, 34, 42, 1);
$orange:                   rgba(239, 85, 53, 1);
$red:                      rgba(242, 66, 70, 1);
$green:                    rgba(52, 196, 124, 1);
$black:                    rgba(0, 0, 0, 1);
$moo-blue:                 rgba(0, 162, 220, 1);
$purple:                   rgba(156, 92, 201, 1);
/* ==================================== */


/* ==================================== */
$colours: (
  'black'                  $black,
  'off-black'              $off-black,
  'orange'                 $orange,
  'red'                    $red,
  'green'                  $green,
  'moo-blue'               $moo-blue,
  'purple'                 $purple
);
/* ==================================== */


/* ==================================== */
$nitti:                    Nitti, $helvetica;

$maison-book:              "Maison Neue Book", $helvetica;
$maison-medium:            "Maison Neue Medium", Georgia;
/* ==================================== */
