<template name="memex">
  <!-- Hero -->
  <div class="block--hero" style="background-image: url('/index/memex.png');  background-repeat: repeat; background-size: 496px 196px; background-position: center -50px;"></div>
  <!-- /Hero -->

  <!-- Intro -->
  <div class="block">
    <div class="container">
      <div class="block__text">
        <h1>I'm a designer/developer based in London, UK. So less of sun, sea and sand you see above and more of the rain, bricks and concrete you see in London. It's lovely though, honest <span class="u-text--orange">&ndash; swear down fam.</span></h1>

        <p class="u-text-large">I'm a recent graduate from Central St Martins where I studied graphic design. Currently I work as a hybrid designer at <a href="http://ustwo.com">ustwo</a>. For me, what I do is not just about making a project look visually attractive, but shaping exactly how and why it functions in the way it does. It's lead me to naturally develop an extremely iterative process that usually involves a lot of rapid prototyping <span class="u-text--grey">&ndash; I find the majority of what I learn about a problem and it's solution comes from building quick prototypes #bigfan</span>.</p>

        <p class="u-text-large">I love learning about new things. I decided it was time to be proactive about it and &ndash; you know &ndash; learn some stuff. So, I'm learning Portuguese very slowly, going to more talks about design/tech and trying to pick up some new skills along the way <span class="u-text--grey">&ndash; maybe even make my own typeface.</span></p>

        <p class="u-text-large">I'm always up for a side project, collaboration or the odd freelance project. So if you got an idea you think we could team up on <span class="u-text--grey">&ndash; or just feel like a little chat &ndash;</span> give me a <a href="mailto:hey@tombates.co">shout</a>.</p>

        <p class="u-text--grey info-short">P.S. Writing these things sucks. Oooo, almost forgot. The photo was taken in Rio earlier this year. <span class="u-text--orange">&ndash; noice™.</span></p>
      </div>
    </div>
  </div>
  <!-- /Intro -->

  <!-- Hero -->
  <div class="block--stripe" style="background-image: url('/index/memex.png');  background-repeat: repeat; background-size: 328px 131px; background-position: center 0px;"></div>
  <!-- /Hero -->
</template>
