<template name="memex">
  <!-- Hero -->
  <div class="hero" style="background-image: url('/index/memex.png');  background-repeat: repeat; background-size: 465px 279px; background-position: center;"></div>
  <!-- /Hero -->

  <div class="wrap">
    <!-- Intro -->
    <div class="block block--margin-top">
      <div class="container">
        <div class="block__text">
          <h1>Memex <span class="u-text--grey">is the story of an addictive side project.</span></h1>

          <p>I keep referencing this as "memex", but let's face it it never really had a name. The project was always in such a state of flux that any alias I gave it never stuck. It's a project that has been through more iterations and processes than I can remember <span class="u-text--grey">&ndash; wireframes, visual designs, prototypes and sketches &ndash;</span> but nothing really finished. At least not finished to a state I would consider releasing to any unsuspecting victim. Yeah this sounds bad, let me explain.</p>

          <p>It all started around two years ago while I was studying at Central St Martins. I was finding it difficult to document the way I was working.</p>
        </div>
      </div>
    </div>
    <!-- /Intro -->

    <!-- Hero -->
    <div class="block--stripe" style="background-image: url('/index/memex.png');  background-repeat: repeat; background-size: 233px 140px; background-position: center;"></div>
    <!-- /Hero -->
  </div>
</template>
