html {
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #15161d;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.65;
  margin: 0;
  padding: 0;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 1rem;
  margin-bottom: 24px;
}

button {
  cursor: pointer;
  display: block;
  color: var(--purple);
  border: 1px solid currentColor;
  background: transparent;
  font-size: 1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  outline: none;
  padding: 8px 16px;
  border-radius: 3px;
  transition: color 0.3s ease;
}

button:hover {
  color: white;
}

button[disabled],
button[disabled]:hover {
  color: #6b46ae;
  opacity: 0.4;
}

a {
  position: relative;
  color: var(--purple);
  text-decoration: none;
}

a:hover { text-decoration: underline; }

.measure { max-width: 34em; }

.section { margin: 64px; }

@media (max-width: 600px) {
  .time { display: none; }
  .section { margin: 48px 24px; }
}

.section > *:last-child { margin-bottom: 0; }

.time { opacity: 0.5; }

ul {
  display: table;
  border-collapse: collapse;
  list-style: none;
  clear: left;
}

li {
  /*color: white !important;*/
  display: table-row;
}

em {
  opacity: 0.5;
  font-style: italic;
}

li > div {
  display: table-cell;
  padding-bottom: 24px;
}

li > div:first-child {
  padding-right: 24px;
  min-width: 11px;
}

li > div > .indicator {
  position: relative;
  top: 1px;
}

li > div.time {
  padding-right: 24px;
  min-width: 120px;
}

li > div *:last-child { margin-bottom: 0; }

dt { font-weight: 600; }
dt::before { content: '- '; }

dd { margin-bottom: 24px; }

@import 'clearfix.css';
@import 'indicator.css';
@import 'loader.css';
@import 'filters.css';

:root {
  --purple: #8d60f5;
  --api: #8d60f5;
  --swarm: #f06d1f;
  --twitter: #1da1f2;
  --github: #2dcf5e;
  --instagram: #405de6;
  --dribbble: #ea4c89;
}
