
<template name="SplashHackingAnts">
  <div class="block--image block--border hacking-ants">
    <div class="container">
      <div class="block__desc hacking-ants__desc">
        <h2 class="h2">
          A queen ant, a hacker and a sci-ﬁ writer walk into a bar.
        </h2>

        <p>
          As part of my final year at Central St Martins, I had to write a dissertation. This is it, in a more appeasing visual format. Full of emergent behaviour, ants, artifical intelligence and pessimistic dystopian science fiction writers.
        </p>

        <a href="http://hackingants.tombates.co" class="btn btn--red">Launch project</a>
      </div>
    </div>
    <canvas id="van-gogh"></canvas>
  </div>
</template>

