<template name="index">
  <div class="hero" style="background-image: url('/icons.svg')">
    <div class="hero__down"></div>
  </div>

  <div class="block">
    <div class="container">
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, perspiciatis, molestias, sit, dolore autem ut reprehenderit in distinctio possimus eius ipsa quae earum cupiditate deleniti soluta ad magnam error consectetur!</h1>

      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, perspiciatis, molestias, sit, dolore autem ut reprehenderit in distinctio possimus eius ipsa quae earum cupiditate deleniti soluta ad magnam error consectetur!</h1>

      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, perspiciatis, molestias, sit, dolore autem ut reprehenderit in distinctio possimus eius ipsa quae earum cupiditate deleniti soluta ad magnam error consectetur!</h1>

      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, perspiciatis, molestias, sit, dolore autem ut reprehenderit in distinctio possimus eius ipsa quae earum cupiditate deleniti soluta ad magnam error consectetur!</h1>
    </div>
  </div>
</template>
