<template name="footer">
  <footer class="footer">
    <div class="container">

      <div class="footer__contact">
        <h3>Say Hello</h3>

        <p class="u-text-small u-text--grey">
          Want to talk about an upcoming project, ask a question or just say hey? Drop me a <a href="mailto:hey@tombates.co">line</a>.
        </p>
      </div>

      <div class="footer__social">
        <h3>So Social</h3>

        <p class="u-text-small u-text--grey">
          Follow me on <a href="http://twitter.com/yoamomonstruos">twitter</a>.<br />
          Gaze at my <a href="http://instagram.com/yoamomonstruos">instagrams</a>.<br />
          Spoon my <a href="http://github.com/yoamomonstruos">code</a>.<br />
          Sometimes I <a href="http://dribbble.com/yoamomonstruos">dribbble</a>.<br />
        </p>
      </div>

      <div class="footer__colophon">
        <h3>Colophon</h3>

        <p class="u-text-small u-text--grey">
          Built with <a href="http://meteor.com" target="_blank">Meteor</a>.<br />
          Set in <a href="http://www.milieugrotesque.com/typeface-maisonneue" target="_blank">Maison Neue</a>.<br />
          Source on <a href="http://github.com/yoamomonstruos/tombates.co" target="_blank">Github</a>.<br />
          Made in the rain.
        </p>
      </div>
    </div>
  </footer>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48905777-1', 'tombates.co');
    ga('send', 'pageview');

  </script>
</template>
