.footer {
  display: block;
  position: relative;
  background: #FFF;
  z-index: 30;
  padding: 60px 0;
  border-top: 1px solid tint($off-black, 95%);
}

.footer__contact,
.footer__colophon,
.footer__social {
  @include span-columns(3 of 12);

  > h3 {
    margin: 0;
  }
  > p  { margin-top: 20px; }

  > *:last-child { margin-bottom: 0; }

  @include media($portable) {
    @include span-columns(4 of 12);
  }

  @include media($tablet) {
    @include span-columns(4 of 8);
  }

  @include media($palm) {
    @include span-columns(3 of 3);
    margin-top: 30px;

    &:first-child { margin-top: 0; }
  }
}

.footer__social {
  @include media($tablet) {
    @include omega;
  }
}

.footer__colophon {
  @include media($desktop) {
    @include shift(3 of 12);
  }

  @include media($portable) {
    // @include shift(4 of 12);
  }

  @include media($tablet) {
    margin-top: 30px;
  }
}
