.header,
.header--pinned {
  @include transition(top 0.25s ease-in-out);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 60;
}

.header--unpinned {
  top: -78px;
}

.header__navigation {
  @include clearfix;
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.header__navigation__item {
  display: block;
  float: left;
  position: relative;
  padding: 10px 0 0 10px;

  &:first-child {
    padding-left: 0;
  }
}

.header__navigation__menu {
  @extend .header__navigation__item;
  float: right;

  .btn {
    display: block;
    float: left;
    margin-left: 10px;
  }
}
