.hero {
  @include position(fixed, 0px 0px 0 0px);
  height: 500px;
  background-color: #FFF;
  background-position: center;
  background-size: cover;
  z-index: 30;

  @include media($tablet) {
    @include position(absolute, 0px 0px 0px 0px);
  }

  @include media($palm) {
    @include position(absolute, 0px 0px 0px 0px);
  }
}
