<template name="information">
  <!-- Hero -->
  <div class="block--hero" style="background-image: url('/icons.svg')"></div>
  <!-- /Hero -->

  <!-- Intro -->
  <div class="block" style="margin-top: 41px;">
    <div class="container">
      <div class="information__intro">
        <h1>I'm a London based designer/developer. I make things at <a href="http://ustwo.com">ustwo</a>. I try not to ramble on <a href="http://twitter.com/yoamomonstruos">twitter</a>. I share my code on <a href="http://github.com/yoamomonstruos">github</a>. Sometimes I pretend to know what I'm doing on <a href="http://instagram.com/yoamomonstruos">instagram</a>. I've also been known to <a href="http://dribbble.com/yoamomonstruos">dribbble</a>.</h1>

        <p class="u-text-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi debitis delectus quod, cum fugit reiciendis cumque dolorum repellat facilis dignissimos voluptatum odio animi vero. Itaque asperiores laborum voluptatibus nisi atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet tenetur, alias, odio nulla nihil consectetur ipsam ipsum esse molestias quis tempora accusamus hic consequuntur amet dolores. Eaque est nam quas!</p>

        <p class="u-text-small">*I'd happily accept payment in <a href="http://en.wikipedia.org/wiki/P%C3%A3o_de_queijo">pão de queijo</a> &ndash; but it's probably not for the best.</p>
      </div>
    </div>
  </div>
  <!-- /Intro -->

  <!-- Lists -->
  <div class="block block--paddless block--off-black">
    <div class="container">
      <div class="information__lists">

        <!-- Education -->
        <div class="information__lists__item">
          <h2>
            <span class="u-text-border--off-black">Education<span>
          </h2>

          <ul class="information-list">
            <li class="information-list__item">
              <h3 class="information-list__title"><span>BA Graphic Design</span> at</h3>
              <h2 class="information-list__sub">
                <a href="http://www.arts.ac.uk/csm/">Central St Martins</a>
              </h2>

              <p class="information-list__body">September 2010 &ndash; June 2013</p>
            </li>

            <li class="information-list__item">
              <h3 class="information-list__title"><span>FD Art &amp; Design</span> at</h3>
              <h2 class="information-list__sub">
                <a href="http://www.arts.ac.uk/camberwell/">Camberwell</a>
              </h2>
              <p class="information-list__body">September 2008 &ndash; June 2009</p>
            </li>
          </ul>
        </div>
        <!-- /Education -->

        <!-- Experience -->
        <div class="information__lists__item">
          <h2>
            <span class="u-text-border--off-black">Experience<span>
          </h2>

          <ul class="information-list">
            <li class="information-list__item">
              <h3 class="information-list__title"><span>Hybrid Designer</span> at</h3>
              <h2 class="information-list__sub">
                <a href="http://ustwo.com">Ustwo</a>
              </h2>
              <p class="information-list__body">September 2013 &ndash; present</p>
            </li>

            <li class="information-list__item">
              <h3 class="information-list__title"><span>Hybrid Designer</span> at</h3>
              <h2 class="information-list__sub">
                <a href="http://gocardless.com">GoCardless</a>
              </h2>
              <p class="information-list__body">November 2012 &ndash; July 2013</p>
            </li>

            <li class="information-list__item">
              <h3 class="information-list__title"><span>Designer</span> at</h3>
              <h2 class="information-list__sub">
                <a href="http://neverbland.com">Neverbland</a>
              </h2>
              <p class="information-list__body">July 2011 &ndash; September 2011</p>
            </li>

            <li class="information-list__item">
              <h3 class="information-list__title"><span>Design Intern</span> at</h3>
              <h2 class="information-list__sub">
                <a href="http://airlock.com">Airlock</a>
              </h2>
              <p class="information-list__body">April 2010 &ndash; August 2010</p>
            </li>
          </ul>
        </div>

        <div class="information__lists__item">
          <h2>
            <span class="u-text-border--off-black">I'm learning<span>
          </h2>

          <ul class="information-list">
            <li class="information-list__item">
              <h3 class="information-list__title"><span>to make </span> a</h3>
              <h2 class="information-list__sub">
                <a>Typeface</a>
              </h2>

              <p class="information-list__body">I'm obsessed by type</p>
            </li>

            <li class="information-list__item">
              <h3 class="information-list__title"><span>to be better </span> at</h3>
              <h2 class="information-list__sub">
                <a>Development</a>
              </h2>

              <p class="information-list__body">With Ruby, Meteor and Node</p>
            </li>

            <li class="information-list__item">
              <h3 class="information-list__title"><span>to speak</span> in</h3>
              <h2 class="information-list__sub">
                <a>Portuguese</a>
              </h2>

              <p class="information-list__body">Mas eu gosto do biscoito</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /Lists -->
</template>
