<template name="information">
  <!-- Fog -->
  <div class="block--image" style="background-image: url('icons.svg');"></div>
  <!-- /Fog -->

  <div class="block">
    <div class="container">
      <div class="block__text">
        <h1>I'm a London based designer/developer. I make things at <a href="http://ustwo.com">ustwo</a>. I try not to ramble on <a href="http://twitter.com/yoamomonstruos">twitter</a>. I share my code on <a href="http://github.com/yoamomonstruos">github</a>. Sometimes I pretend to know what I'm doing on <a href="http://instagram.com/yoamomonstruos">instagram</a>. I've also been known to <a href="http://dribbble.com/yoamomonstruos">dribbble</a>.</h1>

        <h1>You should say <a href="mailto:hey@tombates.co">hey</a>.</h1>
      </div>
    </div>
  </div>
</template>
